{% extends "base.html" %}
{% block title %}Main page{% endblock title %}

{% block content %}
<h2>Topics</h2>
<div>
    {% for topic in topics|sort(attribute = 'created', reverse = True) %}
        <a class="row_link" href="/topic/details/{{topic.key.id()}}"><div class="list"><span class="title col-xs-4">{{topic.title}}</span><span class="name col-xs-4 col-xs-push-1">{{topic.author_email}}</span><span class="clock col-xs-4 col-xs-push-2">{{topic.created.strftime("%d.%m.%Y %H:%M")}}</span></div></a>
    {% endfor %}
</div>

<footer>
    <div class="row">
        <div class="col-md-6 col-md-offset-3"> <!-- col-md-offset-3 premakne za 3 polja v desno -->
            <p>Enter your email and receive an information about the hottest topics in last 24 hours!</p>
            <form method="post", action="/subscribe/hottest-topics" class="subscribeForm">
                <input value="{{csrf_token}}" name="csrf_token" type="hidden"> <!-- uvozimo zaščito proti hekerjem -->

                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email" required> <!-- required opcija, da mora uporabnik nujno izpolniti polje -->
                </div>

                <button type="submit" class="btn btn-success deleteButton">Submit</button>
            </form>
        </div>
    </div>
</footer>
{% endblock content %}