{% extends "base.html" %}

{% block title %}{{topic.title}}{% endblock title %}

{% block content %}

    <div class="panel panel-default down">
        <div class="panel-heading container-fluid">
            <div class="row">
                <h3 class="panel-title col-xs-4 ptitle">{{topic.title}}</h3>
                <p class="col-xs-4 col-xs-push-1 pname">{{topic.author_email}}</p>
                <p class="col-xs-4 col-xs-push-2 pdate pull-right">{{topic.created.strftime("%d.%m.%Y %H:%M")}}</p>
            </div>
        </div>
        <div class="panel-body">
            {{topic.content}}
        </div>
        <div class="panel-footer">
            <form method="post" action="/topic/details/{{topic.key.id()}}/delete" class="text-right" id="formDelete">
                {% if logout_url %}
                    {% if user.email() == topic.author_email or is_admin %}
                        <button type="submit" id="deleteButton"><i class="material-icons">delete</i></button>
                    {% else %}
                        <button type="submit" disabled><i class="material-icons">delete</i></button>
                    {% endif %}
                {% else %}
                    <button type="submit" disabled><i class="material-icons">delete</i></button>
                {% endif %}
            </form>
        </div>
    </div>

    {% for comment in comments|sort(attribute = 'created') %}

        <div class="panel panel-default comment">
            <div class="panel-heading container-fluid">
                <div class="row">
                    <h3 class="panel-title col-xs-4 ptitle">{{comment.topic_title}}</h3>
                    <p class="col-xs-4 col-xs-push-1 pname">{{comment.author_email}}</p>
                    <p class="col-xs-4 col-xs-push-2 pdate">{{comment.created.strftime("%d.%m.%Y %H:%M")}}</p>
                </div>
            </div>
            <div class="panel-body">
                {{comment.content}}
            </div>
        </div>
    {% endfor %}

    {% if logout_url %}
        <div class="panel panel-success downAddComment">
            <div class="panel-heading">Add Comment</div>
            <div class="panel-body">
                <form method="post">
                    <input value="{{csrf_token}}" name="csrf_token" type="hidden">
                    <textarea name="get_comment" class="form-control" rows="6"></textarea>
                    <button type="submit" class="btn btn-success downButton pull-right">Submit</button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="panel panel-success downAddComment">
            <div class="panel-heading">Add Comment</div>
            <div class="panel-body">
                <p>You have to login to post a comment.</p>
            </div>
        </div>
    {% endif %}

{% endblock content %}